.addForm{
  width: 100% !important;
  
  .formGroup {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    margin-bottom: 25px;
  }
  .inp {
    width: 40% !important;
  }
}